/* MAIN APP STYLES */
.main {
  display: flex;
  max-height: 100vh;
}

.map {
  background-color: #7f00ff;
  flex: 1;
  height: 100vh;
}

.map-loading-message,
.map-error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* SIDEBAR STYLES */
.sidebar {
  background: #673ab7;
  background: linear-gradient(to right, #673ab7, #7f00ff);
  padding: 1rem;
  color: #eee;
  flex: 0 0 25%;
  overflow-y: auto;
  min-width: 250px;
  min-height: 100vh;
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__header__icon {
  display: inline-block;
  color: #fff;
  margin-top: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.office {
  width: 40px;
  height: 40px;
  background-image: url('./icons/office.svg');
}

.sidebar__header__title {
  color: #ffffff;
  margin: 1.5rem 0;
  text-align: center;
  letter-spacing: 0.1rem;
}

.sidebar__header__description {
  text-align: center;
}

.sidebar__header__filter-input {
  padding: 0.8rem;
  border: none;
  font-size: 1.1rem;
  flex: 1;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.list-error-message {
  font-size: 0.7rem;
  padding: 1rem;
  margin: 3rem 0;
}

/* SIDEBAR LOCATION LIST SYLES */
.sidebar__locations-list {
  outline: none;
}

.location-card {
  background-color: #fff;
  padding: 1rem;
  margin: 0.8rem 0;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.location-card:hover {
  transform: translateX(6px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
}

.location-card:hover span,
.location-card:hover h2 {
  color: #ff9800;
  border-color: #ff9800;
}

.location-card__label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #673ab7;
  border-radius: 50%;
  padding: 0.3rem;
  text-align: center;
}

.location-card__label h2 {
  color: #673ab7;
  font-size: 1.5rem;
  font-weight: bold;
}

.location-card__content {
  color: #333;
  margin-left: 1rem;
  flex: 1;
  text-align: left;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-family: 'Inconsolata', sans-serif;
}

/* MAP INFO WINDOW STYLES */
.infow__container {
  margin-bottom: 0.5rem;
  color: #333;
  max-width: 400px;
}

.infow__header {
  color: #673ab7;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #673ab7;
  display: flex;
  align-items: center;
}

.infow__header__maintitle {
  flex: 1;
}

.infow__header__badge {
  color: #fff;
  background-color: #673ab7;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  margin-left: 1rem;
  font-size: 0.6rem;
  font-weight: bold;
}

.infow__main {
  padding: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  margin: 0;
  padding: 0;
}

.infow__main__img {
  margin-top: 1rem;
  padding: 0;
}

.infow__main__content {
  flex: 1 1 70%;
  padding: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.infow__main__subtitle {
  color: #673ab7;
  margin: 0.5rem 0 0.3rem 0;
}

.infow__main__content p {
  padding: 0 0.5rem;
}

.infow__main__more {
  margin: 1rem 0 0 0;
}

/* CSS SPINNER - animation by https://loading.io/css/ */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/* MEDIA QUERY STYLES */
@media (max-width: 660px) {
  .main {
    flex-direction: column;
  }
  .map {
    flex-grow: 0;
    flex-shrink: 1;
  }
  .sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 0;
  }
  .sidebar__header__icon {
    display: none;
  }
  .sidebar__header__title {
    margin: 0.5rem 0;
  }
  .sidebar__header__filter-input {
    display: none;
  }
  .sidebar__locations-list {
    display: none;
  }
}
